In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import torch
import torch.optim as optim
import torchvision
import torchvision.transforms as transforms

from resnet import ResNet1d

In [2]:
# python evaluate.py --batch_size 1 --output test.csv

In [3]:
df = pd.read_csv("data/exams.csv")
df.head()

   exam_id  age  is_male  normal_ecg  death     timey  nn_predicted_age
0   294669   67     True       False  False  2.116020         51.093110
1   291318   65     True       False  False  3.077345         76.923935
2   247007   67    False       False  False  2.378450         61.212074
3   181629   34    False       False  False  2.676793         56.736490
4   250434   52    False       False  False  2.118782         71.822754

In [4]:
df['normal_ecg'].value_counts()

normal_ecg
False    1345
True      286
Name: count, dtype: int64

In [5]:
df[df['normal_ecg']].index

Index([   6,    9,   16,   19,   27,   48,   73,   78,   88,   91,
       ...
       1604, 1610, 1611, 1615, 1620, 1621, 1623, 1624, 1629, 1630],
      dtype='int64', length=286)

In [12]:
out = pd.read_csv('test.csv')
out.head()

   ids  predicted_age
0    0      51.093109
1    1      76.923912
2    2      61.212067
3    3      56.736549
4    4      71.822792