In [1]:
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import sys
sys.path.append("../")

# Get Metadata

In [2]:
df = pd.read_csv('../data/exams.csv')
df.head()

,exam_id,age,is_male,nn_predicted_age,1dAVb,RBBB,LBBB,SB,ST,AF,patient_id,death,timey,normal_ecg,trace_file
0,1169160,38,True,40.160484,False,False,False,False,False,False,523632,False,2.098628,True,exams_part13.hdf5
1,2873686,73,True,67.059440,False,False,False,False,False,False,1724173,False,6.657529,False,exams_part13.hdf5
2,168405,67,True,79.621740,False,False,False,False,False,True,51421,False,4.282188,False,exams_part13.hdf5
3,271011,41,True,69.750260,False,False,False,False,False,False,1737282,False,4.038353,True,exams_part13.hdf5
4,384368,73,True,78.873460,False,False,False,False,False,False,331652,False,3.786298,False,exams_part13.hdf5

# Create the peaks summary file if doesn't exist

Run 
`summary_frame, mask_df, data_array, exam_ids = create_summary_frame(data_array, exam_ids)` from `one_beat.py`

OR

`python one_beat.py` will create these files:
```
"../data/beats_summary_frame.csv"
"../data/selected_traces_part16.npy"

```

In [3]:
df_summ = pd.read_csv("../data/beats_summary_frame.csv")
df_summ.head()

,subject,channel,n_peaks,inter_beat_sd,peaks,mode_n_peaks,mode_count,hr,avg_inter_beat_sd,retain_subject
0,0,0,9.0,9.096703,[ 211 670 1118 1560 2002 2443 2885 3314 3743],9.0,10,54.0,9.104809,True
1,0,1,9.0,9.137833,[ 212 671 1119 1561 2004 2444 2886 3316 3744],9.0,10,54.0,9.104809,True
2,0,2,3.0,656.500000,[1123 1565 3320],9.0,10,54.0,9.104809,True
3,0,3,9.0,9.124144,[ 211 670 1118 1560 2003 2444 2885 3315 3743],9.0,10,54.0,9.104809,True
4,0,4,9.0,9.096703,[ 210 669 1117 1559 2001 2443 2884 3313 3742],9.0,10,54.0,9.104809,True

In [4]:
df_summ.loc[:, "peaks"] = df_summ[
    "peaks"
].apply(lambda x: [int(item) for item in x.replace('[', '').replace(']', '').split()])

In [5]:
df_summ.head()

,subject,channel,n_peaks,inter_beat_sd,peaks,mode_n_peaks,mode_count,hr,avg_inter_beat_sd,retain_subject
0,0,0,9.0,9.096703,"[211, 670, 1118, 1560, 2002, 2443, 2885, 3314,...",9.0,10,54.0,9.104809,True
1,0,1,9.0,9.137833,"[212, 671, 1119, 1561, 2004, 2444, 2886, 3316,...",9.0,10,54.0,9.104809,True
2,0,2,3.0,656.500000,"[1123, 1565, 3320]",9.0,10,54.0,9.104809,True
3,0,3,9.0,9.124144,"[211, 670, 1118, 1560, 2003, 2444, 2885, 3315,...",9.0,10,54.0,9.104809,True
4,0,4,9.0,9.096703,"[210, 669, 1117, 1559, 2001, 2443, 2884, 3313,...",9.0,10,54.0,9.104809,True

In [6]:
data_array = np.load("../data/selected_traces_part16.npy")

In [7]:
df_meta = pd.read_csv("../data/average_beat_metadata.csv")

In [8]:
df_meta.head()

   exam_id  data_arr_idx  start_beat  end_beat  channel_used
0  1750214             0        1893      2358             0
1  1688724             1        1928      2288             1
2  1771393             2        1939      2266             0
3  1793030             3        1934      2275             0
4  1717689             4        1973      2197             1

In [10]:
df_summ[df_summ['retain_subject']]['subject'].nunique()

4362

In [12]:
df_meta.shape

(6044, 5)